/* Tablet Devices max-width 768px */
@media only screen and (max-width: 48em) {
  .header-container {
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;
  }

  /* about-section */
  .about-section {
    margin-bottom: 16rem;
  }
  .about-container {
    justify-content: center;
    flex-direction: column;
  }
  .about-left .about-img {
    margin: 3.5rem 0;
    max-width: 100%;
  }
  .about-right {
    text-align: center;
    padding: 0 20px;
  }
  .quote .quote-text {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  /* hero */
  .hero-container {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .hero-right {
    padding-left: 0;
  }
  .hero-left .hero-title {
    font-size: 3.8rem;
  }
  .hero-left .hero-title span {
    font-size: 75px;
    line-height: 8rem;
  }
  .hero-left {
    padding: 7rem 0;
    position: relative;
  }
  .hero-left::before {
    content: "";
    position: absolute;
    left: -20%;
    top: 0;
    width: 120%;
    height: 100%;
    background-image: url(img/bg-shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .header-hero {
    background-image: none;
  }
  /* features section */
  .feature-section {
    padding: 0 20px 10rem;
  }
  .features {
    gap: 1.6rem;
    flex-wrap: wrap;
  }
  .feature-item {
    margin-bottom: 2rem;
  }
  /* play section */
  .play-section {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }
  .play-container {
    flex-direction: column;
    justify-content: center;
    gap: 80px;
  }
  .play-container.play-container-left-img {
    flex-direction: column-reverse;
  }
  .play-text {
    text-align: center;
  }
  .play-text .section-title {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }
  .play-img .main-img {
    max-width: 72%;
    margin-left: auto;
    margin-right: 10px;
  }
  .play-img .secondary-img {
    max-width: 40%;
    position: absolute;
    left: 30px;
    bottom: -7.5rem;
  }
  .play-container.play-container-left-img .play-img .main-img {
    margin-left: 10px;
  }
  .play-container.play-container-left-img .play-img .secondary-img {
    left: auto;
    right: 30px;
  }
  .play-container-left-img .play-text .section-title {
    padding: 0px;
    text-align: center;
    margin: 2.4rem auto;
  }
  .play-container-left-img .play-text .section-paragraph {
    padding: 0px;
    text-align: center;
  }
  /* career section */
  .career-container {
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
  }
  .career-img img {
    max-width: 100%;
  }
  /* category section */
  .category-container {
    gap: 20px;
  }
  .category-btn span {
    font-size: 16px;
  }
  .category-btn img {
    width: 30px;
  }
  .category-btn {
    gap: 0.5rem;
    border: 2px solid var(--color-primary);
  }
  /* footer */
  .footer-category-nav .nav-list {
    gap: 40px;
    flex-wrap: wrap;
  }
  .footer-navigation .nav-lists {
    gap: 40px;
    flex-wrap: wrap;
  }
}
/* Mobile Devices max-width 576px*/
@media only screen and (max-width: 36em) {
  .section-title {
    font-size: 4rem;
  }
  /* menu-bar */
  .header-menu-bar {
    box-shadow: none;
  }
  .header-container {
    justify-content: center;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 7.8rem;
    gap: 6.2rem;
  }
  .nav .nav-list .list-item:last-child {
    margin-top: 2.6rem;
  }
  .nav .nav-list {
    justify-content: center;
    flex-direction: column;
    gap: 3.6rem;
  }
  /* hero */
  .hero-left {
    padding: 13rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: url(img/bg-shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  /* features section */
  .feature-section {
    padding: 0 20px;
  }
  .features {
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .feature-item-img img {
    margin: 0 auto;
    max-width: 100%;
  }
  /* play section */

  .play-container-left-img .play-text .section-title {
    padding: 0 30px;
    text-align: center;
  }
  .play-container-left-img .play-text .section-paragraph {
    padding: 0 30px;
  }
  /* career section */
  .career-text {
    padding: 60px 0;
  }
  .career-list .career-list-item {
    flex-direction: column;
    border-bottom: 1px solid #fff6;
    padding-bottom: 10px;
  }
  .career-list .career-list-item span {
    font-size: 18px;
    line-height: 32px;
  }
  /* footer */
  .footer-category-nav .nav-list {
    gap: 4.5rem;
  }
  .footer-navigation .nav-lists {
    gap: 4.5rem;
  }
  .footer-social {
    flex-wrap: wrap;
    gap: 6.5rem;
  }
}
